<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.list_flights') }}">Flights</a>
            <a href="{{ url_for('main.logout') }}">Logout</a>
        </nav>
        <h1>Payment</h1>
    </header>
    <main>
        <p>Flight: {{ flight.origin }} to {{ flight.destination }}</p>
        <p>Seat Number: {{ seat_number }}</p>
        <p>Price: ${{ "%.2f" | format(flight.price) }}</p>
        <form action="{{ url_for('main.payment', flight_id=flight['_id'], seat_number=seat_number) }}" method="POST">
            {{ form.hidden_tag() }}
            <label for="card_number">Card Number:</label>
            {{ form.card_number(class="form-control", id="card_number") }}
            <label for="expiry_date">Expiry Date:</label>
            {{ form.expiry_date(class="form-control", id="expiry_date") }}
            <label for="cvv">CVV:</label>
            {{ form.cvv(class="form-control", id="cvv") }}
            <button type="submit">Submit Payment</button>
        </form>
    </main>
</body>
</html>
